@import "assets/mixins", "assets/veriables", "assets/fonts", "assets/reset";
body {
  background: url("../img/bg.jpg");
  background-repeat: repeat;
  background-position: center;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login {
  width: 350px;
  padding-bottom: 19px;
  background-color: #ffffff;
  border: solid 1px #e0e0e0;
  display: flex;
  flex-direction: column;
  position: relative;
  display: none;
  &_active{
    display: flex;
  }
  &__close{
    position: absolute;
    right: 0;
    top: 0px;
    padding: 10px;
    cursor: pointer;
  }
  &__img{
    width: 57px;
    align-self: center;
    margin-top: 19px;
  }
  &__form{
    align-self: center;
    margin-top: 15px;
    width: 218px;
  }
}

.auth {
  &__call{
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    display: none;
    @include transition(linear 0.3s);
    &:hover,&:focus{
      text-decoration: underline;
      color: #72985a;
    }
  }
  &__foot {
    font-size: 12px;
    margin-top: 18px;
    text-align: center;
    line-height: 1.42;
    letter-spacing: 0.2px;
  }
  &__singup {
    color: #72985a;
    padding-left: 5px;
    @include transition(linear 0.3s);
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

.form{
  display: flex;
  flex-direction: column;
  &__item{
    width: 100%;
    position: relative;
    &_email{
      font-size: 14px;
      margin-bottom: 13px;
      &:before{
        content: "";
        display: block;
        width: 36px;
        height: 30px;
        background-image: url("../img/form__input.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        position: absolute;
        left: 0;
      }
    }
    &_password{
      font-size: 13px;
      margin-bottom: 7px;
      &:before{
        content: "";
        display: block;
        width: 36px;
        height: 30px;
        background-image: url("../img/form__input.png");
        background-repeat: no-repeat;
        background-position: 0 -43px;
        position: absolute;
        left: 1px;
        top: 1px;
      }
    }
  }
  &__input{
    width: 100%;
    height: 30px;
    color: #333;
    letter-spacing: 0.3px;
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(to top, #d4d4d4, #e5e5e8);
    border-image-slice: 1;
    padding-left: 44px;
    padding-right: 10px;
    &_valid{
      border: solid 1px #93c273;
    }
  }
  & .validate{
    border: solid 1px #93c273;
  }
  & .no-validate{
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(to top, #d4d4d4, #e5e5e8);
    border-image-slice: 1;
  }
  &__forgot{
    letter-spacing: 0.2px;
    color: rgba(153, 153, 153, 0.9);
    text-shadow: 0 1px 0 #ffffff;
    font-size: 12px;
    @include transition(linear 0.3s);
    &:hover,&:focus{
      color: #72985a;
      text-decoration: underline;
    }
  }
  &__foot{
    display: flex;
    margin-top: 21px;
    flex-direction: row;
    justify-content: space-between;
  }
  &__remember{
    margin-left: 16px;
    align-self: center;
  }
  &__submit{
    align-self: center;
    display: flex;
    justify-content: center;
    border: 0;
    padding: 4px 7px;
    background-color: #cccccc;
    box-shadow: inset -0px -2px 0 0 rgba(0, 0, 0, 0.08);
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #ffffff;
    text-align: center;
    @include border-radius(8px);
    cursor: pointer ;
    &:hover,&:focus{
      padding: 3px 6px;
      border: 1px solid #93c273;
    }
  }
}

.remember{
  &__check{
    display: none;
  }
  &__label{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 14px;
    border-radius: 34px;
  }
  &__slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0px;
    background-color: #bd7575;
    box-shadow: 0.5px 0.9px 1px 0 #ffffff, inset 0.5px 0.9px 2px 0 rgba(0, 0, 0, 0.35);
    @include transition(linear 0.3s);
    @include border-radius(34px);
    &:after{
      @include border-radius(50%);
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: -1px;
      bottom: -1px;
      background-color: #ececec;
      @include transition(linear 0.3s);
      box-shadow: 0.5px 0.9px 3px 0 rgba(0, 0, 0, 0.25), inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
    }
    &:before{
      content: "";
      display: block;
      width: 9.2px;
      height: 7.5px;
      background: url("../img/remember__slider.png");
      background-position: 0 0;
      position: absolute;
      left: -15px;
      top: 3px;
    }
  }
  &__check:checked + &__slider{
    background-image: linear-gradient(#98c878, #98c878);
  }
  &__focus + &__slider{
    box-shadow: 0 0 1px #2196F3;
  }
  &__check:checked + &__slider:after{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  &__check:checked + &__slider:before{
    background-position: -11px 0;
  }
}
input:valid{
  border: solid 1px #93c273;
}
input:invalid{
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(to top, #d4d4d4, #e5e5e8);
  border-image-slice: 1;
}

@media screen and (max-width: 480px){
  body{
    min-width: 320px;
  }
  .login{
    min-width: 320px;
    width: initial;
    border-left: 0;
    border-right: 0;
  }
}