@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto.woff") format("woff"), url("../fonts/Roboto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto.eot");
  src: url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

html * {
  max-height: 1000000px; }

body {
  font-family: "Roboto";
  color: #999;
  font-weight: 400;
  line-height: 1;
  position: relative;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

ol, ul {
  list-style: none;
  display: block; }

a, a:hover, a:focus {
  text-decoration: none; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

input::-webkit-input-placeholder {
  color: #999999;
  opacity: 1; }

input::-moz-placeholder {
  color: #999999;
  opacity: 1; }

input:-ms-input-placeholder {
  color: #999999;
  opacity: 1; }

input::placeholder {
  color: #999999;
  opacity: 1; }

:focus::-webkit-input-placeholder {
  color: transparent; }

:focus::-moz-placeholder {
  color: transparent; }

:focus:-moz-placeholder {
  color: transparent; }

:focus:-ms-input-placeholder {
  color: transparent; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  background-image: url("../img/form__input.png");
  background-repeat: no-repeat; }

body {
  background: url("../img/bg.jpg");
  background-repeat: repeat;
  background-position: center; }

.container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.login {
  width: 350px;
  padding-bottom: 19px;
  background-color: #ffffff;
  border: solid 1px #e0e0e0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  display: none; }
  .login_active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .login__close {
    position: absolute;
    right: 0;
    top: 0px;
    padding: 10px;
    cursor: pointer; }
  .login__img {
    width: 57px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-top: 19px; }
  .login__form {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-top: 15px;
    width: 218px; }

.auth__call {
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  display: none;
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s; }
  .auth__call:hover, .auth__call:focus {
    text-decoration: underline;
    color: #72985a; }

.auth__foot {
  font-size: 12px;
  margin-top: 18px;
  text-align: center;
  line-height: 1.42;
  letter-spacing: 0.2px; }

.auth__singup {
  color: #72985a;
  padding-left: 5px;
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s; }
  .auth__singup:hover, .auth__singup:focus {
    text-decoration: underline; }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .form__item {
    width: 100%;
    position: relative; }
    .form__item_email {
      font-size: 14px;
      margin-bottom: 13px; }
      .form__item_email:before {
        content: "";
        display: block;
        width: 36px;
        height: 30px;
        background-image: url("../img/form__input.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        position: absolute;
        left: 0; }
    .form__item_password {
      font-size: 13px;
      margin-bottom: 7px; }
      .form__item_password:before {
        content: "";
        display: block;
        width: 36px;
        height: 30px;
        background-image: url("../img/form__input.png");
        background-repeat: no-repeat;
        background-position: 0 -43px;
        position: absolute;
        left: 1px;
        top: 1px; }
  .form__input {
    width: 100%;
    height: 30px;
    color: #333;
    letter-spacing: 0.3px;
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(to top, #d4d4d4, #e5e5e8);
    border-image-slice: 1;
    padding-left: 44px;
    padding-right: 10px; }
    .form__input_valid {
      border: solid 1px #93c273; }
  .form .validate {
    border: solid 1px #93c273; }
  .form .no-validate {
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(to top, #d4d4d4, #e5e5e8);
    border-image-slice: 1; }
  .form__forgot {
    letter-spacing: 0.2px;
    color: rgba(153, 153, 153, 0.9);
    text-shadow: 0 1px 0 #ffffff;
    font-size: 12px;
    -webkit-transition: linear 0.3s;
    transition: linear 0.3s; }
    .form__forgot:hover, .form__forgot:focus {
      color: #72985a;
      text-decoration: underline; }
  .form__foot {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 21px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .form__remember {
    margin-left: 16px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
  .form__submit {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 0;
    padding: 4px 7px;
    background-color: #cccccc;
    -webkit-box-shadow: inset 0px -2px 0 0 rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px -2px 0 0 rgba(0, 0, 0, 0.08);
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #ffffff;
    text-align: center;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    cursor: pointer; }
    .form__submit:hover, .form__submit:focus {
      padding: 3px 6px;
      border: 1px solid #93c273; }

.remember__check {
  display: none; }

.remember__label {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 14px;
  -webkit-border-radius: 34px;
  border-radius: 34px; }

.remember__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0px;
  background-color: #bd7575;
  -webkit-box-shadow: 0.5px 0.9px 1px 0 #ffffff, inset 0.5px 0.9px 2px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0.5px 0.9px 1px 0 #ffffff, inset 0.5px 0.9px 2px 0 rgba(0, 0, 0, 0.35);
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s;
  -webkit-border-radius: 34px;
  border-radius: 34px; }
  .remember__slider:after {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: -1px;
    bottom: -1px;
    background-color: #ececec;
    -webkit-transition: linear 0.3s;
    transition: linear 0.3s;
    -webkit-box-shadow: 0.5px 0.9px 3px 0 rgba(0, 0, 0, 0.25), inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0.5px 0.9px 3px 0 rgba(0, 0, 0, 0.25), inset 0 1px 0 0 rgba(0, 0, 0, 0.1); }
  .remember__slider:before {
    content: "";
    display: block;
    width: 9.2px;
    height: 7.5px;
    background: url("../img/remember__slider.png");
    background-position: 0 0;
    position: absolute;
    left: -15px;
    top: 3px; }

.remember__check:checked + .remember__slider {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#98c878), to(#98c878));
  background-image: -webkit-linear-gradient(#98c878, #98c878);
  background-image: linear-gradient(#98c878, #98c878); }

.remember__focus + .remember__slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
  box-shadow: 0 0 1px #2196F3; }

.remember__check:checked + .remember__slider:after {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

.remember__check:checked + .remember__slider:before {
  background-position: -11px 0; }

input:valid {
  border: solid 1px #93c273; }

input:invalid {
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(to top, #d4d4d4, #e5e5e8);
  border-image-slice: 1; }

@media screen and (max-width: 480px) {
  body {
    min-width: 320px; }
  .login {
    min-width: 320px;
    width: initial;
    border-left: 0;
    border-right: 0; } }
