@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto.woff') format('woff'),
  url('../fonts/Roboto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto.eot');
  src: url('../fonts/Roboto.woff2') format('woff2'),
  url('../fonts/Roboto.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}