//transform
@mixin  transform($args) {
  -webkit-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}
// Transitions
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
// Opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie);
}
// Center Block Push
@mixin center_push {
  margin: {
    left: auto;
    right: auto;
  }
}
// Border Radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
